<!--About-->
<section id="about" class="about">
    <div class="container">
      <div class="row about-inner">
        <div class="col-lg-6">
          <img src="asset/images/slide-3.jpg" alt="psc-study" class="img-fluid" data-aos="zoom-in" data-aos-delay="700">
        </div>
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="800">
          <h2>about us</h2>
          <p>We create this place for you and your career in psc. 
              We provide all the important questions and answers in the point of Kerala psc. 
              You can visit our website for the latest notifications and news from Kerala psc.
              From a group of experts, we create these all for your career.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--End of about-->