<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച നടൻ????? 
                    നിവിൻ പോളി (ചിത്രം:മൂത്തോൻ)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച ചിത്രം????
                    മൂത്തോൻ(സംവിധാനം:ഗീതു മോഹൻദാസ്)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച സംവിധായിക???????? 
                    ഗീതു മോഹൻദാസ് (ചിത്രം:മൂത്തോൻ)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച ബാലതാരം?????? 
                    സഞ്ജന ദീപു (ചിത്രം:മൂത്തോൻ)
                </li>
            </ol>
        </div>
    </div>
</section>








