<section class="gk">
    <div class="container">
        <div class="container gk-container">
            <h1 class="text-center">our gk topics</h1>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="container gk-parts">
                        <ul>
                            <li><a href="#!/kerala_facts">kerala facts<i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="">india facts<i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="">constitution<i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="">world history<i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="">india history<i class="fa fa-angle-double-right"></i></a></li>
                            <li><a href="">kerala history<i class="fa fa-angle-double-right"></i></a></li>
            
                        </ul>
                    </div>
                </div>
            </div>
            <!--<a href="#!/next-gk1" class="carousel-control-next carousel-button">Next<span class="carousel-control-next-icon"></span></a>
            <a href="#!/" class="carousel-control-prev carousel-button"><span class="carousel-control-prev-icon"></span>prev</a>
            -->
        </div>
    </div>


</section>