 <head><title>{{message}}</title></head>
 <!--Classes-->
 <section id="questionnaire" class="questionnaire">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part" data-aos="fade-up-right">
            <h3>Gk</h3>
            <a href="#!/gk"><button class="border-button">Click for questions</button></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part"data-aos="fade-up">
            <h3>maths</h3>
            <a href="#!/maths"><button class="border-button">Click for questions</button></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part1" data-aos="fade-up-left">
            <h3>current affairs</h3>
            <a href="#!/current1"><button class="border-button">Click for questions</button></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part" data-aos="fade-up-right">
            <h3>English</h3>
            <a href="#!/english"><button class="border-button">click for questions</button></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part1" data-aos="fade-up">
            <h3>previous questions</h3>
            <a href="#!/previous"><button class="border-button">click for questions</button></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="questionnaire-part1" data-aos="fade-up-left">
            <h3>scert questions</h3>
            <a href="#!/scert"><button class="border-button">click for questions</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>