<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                
            </ol>
        </div>
    </div>
</section>

<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#!/kerala_facts">1</a></li>
      <li class="page-item"><a class="page-link" href="#!/kerala_facts1">2</a></li>
      <li class="page-item active"><a class="page-link" href="#!/kerala_facts2">3</a></li>
    </ul>
</nav>























 