<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center mb-5">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    കേരളത്തിൽ ജനസംഖ്യ വളർച്ച നിരക്ക് കുറഞ്ഞ ജില്ല?
                    പത്തനംതിട്ട
                </li>
                <li>
                    കേരളത്തിൽ ജനസംഖ്യ വളർച്ച നിരക്ക് കൂടിയ ജില്ല?
                    മലപ്പുറം
                </li>
                <li>
                    ഇന്ത്യൻ സംസ്ഥാനങ്ങളിൽ സ്ത്രീ - പുരുഷ അനുപാതത്തിൽ കേരളത്തിന്റെ സ്ഥാനം?
                    ഒന്നാം സ്ഥാനം
                </li>
                <li>
                    കവ്വായി കായൽ സ്ഥിതിചെയ്യുന്ന ജില്ല?
                    കണ്ണൂർ
                </li>
                <li>
                    പൂക്കോട് തടാകം സ്ഥിതിചെയ്യുന്നത്?
                    വയനാട്
                </li>
                <li>
                    മാനാഞ്ചിറ കായൽ സ്ഥിതിചെയ്യുന്നത്?
                    കോഴിക്കോട്
                </li>
                <li>
                    ഉപ്പള കായൽ സ്ഥിതിചെയ്യുന്ന ജില്ല?
                    കാസർകോട്
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ ഗ്രാമപഞ്ചായത്ത്?
                    മഞ്ചേശ്വരം (കാസർകോട്)
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ താലൂക്ക്?
                    മഞ്ചേശ്വരം
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ അസംബ്ലി മണ്ഡലം?
                    മഞ്ചേശ്വരം
                </li>
            </ol>
        </div>
    </div>
</section>
<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item active"><a class="page-link" href="#!/kerala_facts">1</a></li>
      <li class="page-item"><a class="page-link" href="#!/kerala_facts1">2</a></li>
      <li class="page-item"><a class="page-link" href="#!/kerala_facts2">3</a></li>
    </ul>
</nav>