<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ സ്പീക്കർ?
                    ആർ. ശങ്കരനാരായണ തമ്പി
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ഗ്രന്ഥശാല?
                    തിരുവനന്തപുരം പബ്ലിക് ലൈബ്രറി
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ലക്ഷണയുക്തമായ നോവൽ?
                    ഇന്ദുലേഖ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ഡീസൽ വൈദ്യുത പദ്ധതി?
                    ബ്രഹ്മപുരം
                </li>
                <li>
                    കേരളത്തിൽനിന്ന് ഇന്ത്യയുടെ കേന്ദ്രകാബിനറ്റിലെത്തിയ ആദ്യത്തെ മലയാളി?
                    ഡോ. ജോൺ മത്തായി
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മലയാളി കർദ്ദിനാൾ?
                    കർദ്ദിനാൾ ജോസഫ് പറേക്കാട്ടിൽ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ബാങ്ക്?
                    നെടുങ്ങാടി ബാങ്ക്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ പ്രസ്സ്?
                    ജസ്യുട്ട് പ്രസ്സ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ പേപ്പർ മിൽ?
                    പുനലൂർ പേപ്പർ മിൽ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ വനിതാ മന്ത്രി?
                    കെ. ആർ. ഗൌരിയമ്മ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ഗവർണ്ണർ?
                    ഡോ. ബി. രാമകൃഷ്ണറാവു
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മുഖ്യമന്ത്രി?
                    ഇ. എം. എസ്. നമ്പൂതിരിപ്പാട്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ വനിതാ ചീഫ് എഞ്ചിനീയർ?
                    പി. കെ. ത്രേസ്യ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ മുസ്ലിം പള്ളി?
                    ചേരമാൻ ജുമാ മസ്ജിദ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ വനിതാ സർജൻ ജനറൽ?
                    ഡോ. മിസ്സിസ് പുന്നൻ ലൂക്കോസ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ ശബ്ദ സിനിമ?
                    ബാലൻ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ നിശ്ശബ്ദ സിനിമ?
                    വിഗതകുമാരൻ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ തീവണ്ടി സർവീസ്?
                    ബേപ്പൂരിനും തിരൂരിനും ഇടയ്ക്ക്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ വയലാർ അവാർഡ് ജേതാവ്?
                    ലളിതാംബിക അന്തർജനം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ജ്ഞാനപീഠം അവാർഡ് നേടിയ മലയാളി?
                    ജി. ശങ്കരകുറുപ്പ്
                </li>
            </ol>
        </div>
    </div>
</section>

<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#!/kerala_facts">1</a></li>
      <li class="page-item"><a class="page-link" href="#!/kerala_facts1">2</a></li>
      <li class="page-item active"><a class="page-link" href="#!/kerala_facts2">3</a></li>
    </ul>
</nav>
