<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center mb-5">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    കേരളത്തിൽ ജനസംഖ്യ വളർച്ച നിരക്ക് കുറഞ്ഞ ജില്ല?
                    പത്തനംതിട്ട
                </li>
                <li>
                    കേരളത്തിൽ ജനസംഖ്യ വളർച്ച നിരക്ക് കൂടിയ ജില്ല?
                    മലപ്പുറം
                </li>
                <li>
                    ഇന്ത്യൻ സംസ്ഥാനങ്ങളിൽ സ്ത്രീ - പുരുഷ അനുപാതത്തിൽ കേരളത്തിന്റെ സ്ഥാനം?
                    ഒന്നാം സ്ഥാനം
                </li>
                <li>
                    കവ്വായി കായൽ സ്ഥിതിചെയ്യുന്ന ജില്ല?
                    കണ്ണൂർ
                </li>
                <li>
                    പൂക്കോട് തടാകം സ്ഥിതിചെയ്യുന്നത്?
                    വയനാട്
                </li>
                <li>
                    മാനാഞ്ചിറ കായൽ സ്ഥിതിചെയ്യുന്നത്?
                    കോഴിക്കോട്
                </li>
                <li>
                    ഉപ്പള കായൽ സ്ഥിതിചെയ്യുന്ന ജില്ല?
                    കാസർകോട്
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ ഗ്രാമപഞ്ചായത്ത്?
                    മഞ്ചേശ്വരം (കാസർകോട്)
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ താലൂക്ക്?
                    മഞ്ചേശ്വരം
                </li>
                <li>
                    കേരളത്തിലെ വടക്കേ അറ്റത്തെ അസംബ്ലി മണ്ഡലം?
                    മഞ്ചേശ്വരം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മലയാള മഹാകാവ്യം?
                    കൃഷ്ണഗാഥ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ വനിതാ ഐ. എ. എസ്. ഓഫീസർ?
                    അന്നാ മൽഹോത്ര
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ലയൺ സഫാരി പാർക്ക്?
                    നെയ്യാർ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ തേക്കിൻ തോട്ടം?
                    നിലമ്പൂർ
                </li>
                <li>
                    കേരളത്തിൽ ആദ്യമായി കടലിലിറങ്ങിയ കപ്പൽ?
                    റാണി പത്മിനി
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ കമ്പ്യൂട്ടർ കേന്ദ്രം?
                    കൊച്ചി
                </li>
                <li>
                    കേരളത്തിൽ മലയാള സിനിമയിലെ അഭിനയത്തിന് മികച്ച നടിക്കുള്ള ആദ്യ ദേശീയ അവാർഡ് ജേതാവ്?
                    ശാരദ
                </li>
                <li>
                    കേരളത്തിൽ ആദ്യത്തെ സുവർണ കമലം ലഭിച്ച മലയാള സിനിമ?
                    ചെമ്മീൻ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ സാഹിത്യ അക്കാഡമി അദ്ധ്യക്ഷൻ?
                    സർദാർ കെ. എം. പണിക്കർ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ സഹകരണ സംഘം?
                    ട്രാവൻകൂർ സെൻട്രൽ കോ-ഓപ്പറേറ്റീവ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ സർവ്വകലാശാല?
                    തിരുവിതാംകൂർ
                </li>
                <li>
                    കേരളത്തിൽ ആദ്യമായി വൈദ്യുതീകരിച്ച പട്ടണം?
                    തിരുവനന്തപുരം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ എഞ്ചിനീയറിംഗ് കേളേജ്?
                    തിരുവനന്തപുരം എഞ്ചിനീയറിംഗ് കോളേജ്
                </li>
                <li>
                    കേരളത്തിൽ ആദ്യമായി മലയാള ലിപിയിൽ അച്ചടിച്ചത്?
                    ഹോർത്തൂസ് മലബാറിക്കസ്
                </li>
                <li>
                    തിരുവിതാംകൂറിലെ ആദ്യത്തെ രാജാവ്?
                    മാർത്താണ്ഡവർമ
                </li>
            </ol>
        </div>
    </div>
</section>
<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item active"><a class="page-link back-to-top" href="#!/kerala_facts">1</a></li>
      <li class="page-item"><a class="page-link back-to-top" href="#!/kerala_facts1">2</a></li>
      <li class="page-item"><a class="page-link back-to-top" href="#!/kerala_facts2">3</a></li>
    </ul>
</nav>