<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    കേരളത്തിലെ ഏറ്റവും വടക്കേ അറ്റത്തെ ഗ്രാമം?<br>
                    തലപ്പാടി
                </li>
                <li>
                    കേരളത്തിൽ വിസ്തീർണം കുറഞ്ഞ ഗ്രാമപ്പഞ്ചായത്ത്?<br>
                    വളപട്ടണം
                </li>
                <li>
                    വിസ്തീർണം കൂടിയ മുനിസിപ്പാലിറ്റി?<br>
                    തൃപ്പൂണിത്തുറ
                </li>
                <li>
                    കേരളത്തിൽ വിസ്തീർണം കൂടിയ ഗ്രാമപ്പഞ്ചായത്ത്?<br>
                    കുമളി
                </li>
                <li>
                    ഏനമാക്കൽ കായൽ സ്ഥിതിചെയ്യുന്ന ജില്ല?<br>
                    തൃശ്ശൂർ
                </li>
                <li>
                    കേരളത്തിലെ ജനസംഖ്യ കുറഞ്ഞ താലൂക്ക്?<br>
                    മല്ലപ്പള്ളി (പത്തനംതിട്ട)
                </li>
                <li>
                    ഏറ്റവും കൂടുതൽ ജനസംഖ്യയുള്ള വില്ലേജ്?<br>
                    കണ്ണൻ ദേവൻ ഹിൽസ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യ സമ്പൂർണ നിയമ സാക്ഷരതാ വ്യവഹാര വിമുക്ത പഞ്ചായത്ത്?<br>
                    ചെറിയനാട്
                </li>
                <li>
                    'അഗസ്ത്യാർ ക്രോക്കൊടൈൽ  റീഹാബിലിറ്റേഷൻ ആൻഡ് റിസർച്ച് സെന്റർ' സ്ഥിതിചെയ്യുന്ന വന്യജീവി സങ്കേതം?<br>
                    നെയ്യാർ വന്യജീവി സങ്കേതം
                </li>
                <li>
                    കേരളത്തിലെ ഏക ലയൺ സഫാരി പാർക്ക് (മരക്കുന്നം ദ്വീപ്) സ്ഥിതിചെയ്യുന്നത്?<br>
                    നെയ്യാർ
                </li>
                <li>
                    വെള്ള കാട്ടുപോത്തുകളുടെ സാന്നിധ്യം റിപ്പോർട്ട് ചെയ്തിട്ടുള്ള വന്യജീവിസങ്കേതം?<br>
                    ചിന്നാർ വന്യജീവി സങ്കേതം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ പത്രം?<br>
                    രാജ്യസമാചാരം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ പക്ഷിസങ്കേതം?<br>
                    തട്ടേക്കാട്
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ കാഴ്ചബംഗ്ലാവ്?<br>
                    തിരുവനന്തപുരം കാഴ്ചബംഗ്ലാവ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ വിമാനസർവീസ്?<br>
                    തിരുവനന്തപുരം- മുംബൈ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ഇംഗ്ലീഷ് സ്കൂൾ?<br>
                    മട്ടാഞ്ചേരി
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മലയാളപുസ്തകം?<br>
                    സംക്ഷേപവേദാർത്ഥം 
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മെഡിക്കൽ കോളേജ്?<br>
                    തിരുവനന്തപുരം
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ വനിതാമജിസ്ട്രേറ്റ്?<br>
                    ഓമനക്കുഞ്ഞമ്മ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ജലവൈദ്യുത പദ്ധതി?<br>
                    പള്ളിവാസൽ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ മലയാള ഖണ്ഡകാവ്യം?<br>
                    വീണപൂവ്
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ ഡെപ്യൂട്ടി സ്പീക്കർ?<br>
                    കെ.ഒ. ഐഷാ ഭായി
                </li>
                <li>                
                    കേരളത്തിലെ ആദ്യത്തെ പ്രതിപക്ഷ നേതാവ്?<br>
                    പി.ടി. ചാക്കോ
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ കോളേജ്?<br>
                    സി.എം.എസ്. കോളേജ് (കോട്ടയം)
                </li>
                <li>
                    കേരളത്തിലെ ആദ്യത്തെ അച്ചടിശാല?<br>
                    സി.എം.എസ്. പ്രസ്സ് (കോട്ടയം)
                </li>
            </ol>
        </div>
    </div>
</section>

<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#!/kerala_facts1">1</a></li>
      <li class="page-item active"><a class="page-link" href="#!/kerala_facts2">2</a></li>
      <li class="page-item"><a class="page-link" href="#!/kerala_facts3">3</a></li>
    </ul>
</nav>













 