<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    സയ്യിദ് മുഷ്താഖ് അലി ക്രിക്കറ്റ് ടൂർണമെൻറ് 2019 വിജയികൾ ?<br>
                    കർണാടക
                </li>
                <li>
                    79 മത് ചരിത്ര കോൺഗ്രസ് വേദി ആയിരുന്നത് ?<br> 
                    ഭോപ്പാൽ
                </li>
                <li>
                    സ്വച്ഛ് സർവേഷൻ 2019 റിപ്പോർട്ട് പ്രകാരം ഇന്ത്യയിലെ ഏറ്റവും വൃത്തിയുള്ള നഗരം ?<br>
                    ഇൻഡോർ
                </li>
                <li>
                    2020 ലെ രാജ്യാന്തര തീര ശുചീകരണ ദിനം ?<br>
                    സെപ്തംബർ 19
                </li>
                <li>
                    ഇന്ത്യൻ ആർമിയുടെ പുതിയ ആസ്ഥാന മന്ദിരം ?<br>
                    Thal sena Bhavan  ന്യൂഡൽഹി
                </li>
                <li>
                    നാഷണൽ പോലീസ് മെമ്മോറിയൽ നിലവിൽ വന്നത് ?<br>
                    ചാണക്യപുരി
                </li>
                <li>
                    ല്കനൗവിലെ ഹസ്രത്ഗജ് ചൗരഹായുടെ  പുതിയ പേര് ?<br>
                    അടൽ ചൗക്
                </li>
                <li>
                    തുരങ്കത്തിനു അകത്ത് സ്ഥിതി ചെയ്യുന്ന ഇന്ത്യയുടെ ആദ്യ റെയിൽവേ സ്റ്റേഷൻ ?<br>
                    Keylong station (HP)
                </li>
                <li>
                    ഇന്ത്യയിലെ ആദ്യ അവയവദാന സ്മാരകം നിലവിൽ വന്നത് ?<br>
                    ജയ്പൂർ
                </li>
                <li>
                    ഇന്ത്യയിൽ ആദ്യമായി ഡിജിറ്റൽ ഫോട്ടോ വോട്ടർ  സ്ലിപ് ഉപയോഗിച്ച് തിരഞ്ഞെടുപ്പ് നടന്നത് ?<br>
                    ന്യൂഡൽഹി
                </li>
                <li>
                    2021 ഫെബ്രുവരിയിൽ പാർലമെന്റ് അംഗങ്ങളുടെ ഡ്രസ്സ് കോഡിൽ നിന്ന് ടൈ  ഒഴിവാക്കിയ രാജ്യം ?<br>
                    ന്യൂസിലാൻഡ്
                </li>
                <li>
                    2020 നവംബറിലെ ഹിജാബ് പോലീസ് യൂണിഫോമിനെ ഭാഗമാക്കിയ രാജ്യം ?<br>
                    ന്യൂസിലാൻഡ്
                </li>
                <li>
                    അടുത്തിടെ ആക്രമിക്കപ്പെട്ട പ്രശസ്തമായ കതരഗാമക്ഷേത്രം സ്ഥിതി ചെയ്യുന്ന രാജ്യം ?<br>
                    ശ്രീലങ്ക
                </li>
                <li>
                    എവറസ്റ്റ് കീഴടക്കിയ ആദ്യ ആഫ്രിക്കൻ വനിത ?<br>
                    സാരയി ഖുമാലോ 
                </li>
                <li>
                    രണ്ടാം ലോകമഹായുദ്ധം പൈതൃകനഗരമായി ഡൊണാൾഡ് ട്രംപ് പ്രഖ്യാപിച്ച നഗരം ?<br>
                    വിൽമിംഗ്ട്ടൺ 
                </li>
                <li>
                    ഗോലാൻ കുന്നുകൾ ഇസ്രായേലിന്റെ ആണെന്ന്  അംഗീകരിച്ച രാജ്യം ?<br>
                    അമേരിക്ക
                </li>
            </ol>
        </div>
    </div>
</section>
<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link back-to-top" href="#!/current1">1</a></li>
      <li class="page-item active"><a class="page-link back-to-top" href="#!/current2">2</a></li>
    </ul>
</nav>