<section class="facts">
    <div class="container facts-main">
        <h1 class="text-center">{{message}}</h1>
        <div class="container facts-inner">
            <ol>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച നടൻ ? <br>
                    നിവിൻ പോളി (ചിത്രം:മൂത്തോൻ)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച ചിത്രം ?<br>
                    മൂത്തോൻ(സംവിധാനം:ഗീതു മോഹൻദാസ്)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച സംവിധായിക ?<br> 
                    ഗീതു മോഹൻദാസ് (ചിത്രം:മൂത്തോൻ)
                </li>
                <li>
                    2020 ലെ ന്യൂയോർക്ക് ഇന്ത്യൻ ഫിലിം ഫെസ്റ്റിവൽ അവാർഡിലെ മികച്ച ബാലതാരം ? <br>
                    സഞ്ജന ദീപു (ചിത്രം:മൂത്തോൻ)
                </li>
                <li>
                    2020 ഇൽ ബ്യുറോ ഓഫ് സിവിൽ ഏവിയേഷൻ സെക്യൂരിറ്റിയുടെ ഡയറക്ടറായി നിയമിതനായത് ആര് ?<br>
                    എം.എ.ഗണപതി
                </li>
                <li>
                    BARC ഡയറക്ടർ ആയി നിയമിതനായത് ?<br>
                    ഡോ: അജിത് കുമാർ മൊഹന്തി
                </li>
                <li>
                    കേന്ദ്ര തെരഞ്ഞെടുപ്പ് കമ്മീഷൻ  2019ൽ വികസിപ്പിച്ച മൊബൈൽ ആപ്ലിക്കേഷൻ ?<br>
                    C-VIGIL
                </li>
                <li>
                    ഇന്ത്യ - ഒമാൻ മിലിട്ടറി എക്സസൈസ് ? <br>
                    അൽ - നാഗ 3 (2019)
                </li>
                <li>
                    കോപ്പ അമേരിക്ക ഫുട്ബോൾ 2020 വേദി ആയിരുന്നത് ?<br>
                    അർജൻറീന - കൊളംബിയ
                </li>
                <li>
                    ഇസ്രായേൽ വിക്ഷേപിച്ച പുതിയ ചാര ഉപഗ്രഹം ?<br>
                    ഓഫെക് 16
                </li>
                <li>
                    ഏതു രാജ്യമാണ് കിഴക്കൻ ഭൂട്ടാനിലെ സാക്തങ് വന്യജീവിസങ്കേതത്തിന് മേൽ അവകാശവാദമുന്നയിച്ചത് ?<br>
                    ചൈന
                </li>
                <li>
                    റാഫേൽ യുദ്ധവിമാനം പറത്തുന്ന ആദ്യ ഇന്ത്യൻ വനിത ?<br>
                    ശിവാംഗി സിംഗ്
                </li>
                <li>
                    BARC ഡയറക്ടർ ആയി നിയമിതനായത് ?<br>
                    ഡോ: അജിത് കുമാർ മൊഹന്തി
                </li>
                <li>
                    കേന്ദ്ര തെരഞ്ഞെടുപ്പ് കമ്മീഷൻ  2019ൽ വികസിപ്പിച്ച മൊബൈൽ ആപ്ലിക്കേഷൻ ?<br>
                    C-VIGIL
                </li>
                <li>
                    ഇന്ത്യ - ഒമാൻ മിലിട്ടറി എക്സസൈസ് ?<br> 
                    അൽ - നാഗ 3 (2019)
                </li>
                <li>
                    കോപ്പ അമേരിക്ക ഫുട്ബോൾ 2020 വേദി ആയിരുന്നത് ?<br>
                    അർജൻറീന - കൊളംബിയ
                </li>
                <li>
                    കേരള രാജ്യാന്തര ചലച്ചിത്ര മേളയുടെ ഭാഗമായി ആജീവനാന്ത സംഭവനയ്ക് നൽകുന്ന പുരസ്‌കാരം നേടിയത് ?<br>
                    ഷീൻ ലുക് ഗൊദാർദ്
                </li>
                <li>        
                    2021 ജനുവരിയിൽ പുറത്തിറക്കിയ കോവിഡ് 19 പെർഫോർമൻസ് ഇൻഡക്സിൽ ഒന്നാമത് എത്തിയ രാജൃം ?<br>
                    ന്യൂസിലൻഡ്
                </li>
                <li>
                    2020 ലെ അഴിമതി പെർസെപ്ഷൻ സൂചികയിൽ ഒന്നാമത് എത്തിയ രാജ്യം ?<br>
                    ന്യൂസിലൻഡ്, ഡെൻമാർക്ക്<br>
                    ( ഇന്ത്യ - 86)
                </li>
                <li>
                    കേരള പ്രദേശ് കോൺഗ്രസ് കമ്മിറ്റി സ്ഥാപിച്ചതിന്റെ എത്രാം വാർഷികമാണ് 2021 ഇൽ ആഘോഷിച്ചത് ?<br>
                    100
                </li>
                <li>
                    കേരളത്തിൽ ബീച്ചിലൂടെയുള്ള  നീളമേറിയ പാലം നിർമ്മിച്ചത് എവിടെ ?<br>
                    ആലപ്പുഴ
                </li>
                <li>
                    2021 ജനുവരിയിൽ SBI യുടെ മാനേജിങ് ഡയറക്ടറായി നിയമിതരായത് ?<br>
                    മുകേഷ് റാവത്ത്, അനിൽ മെഹ്ത
                </li>
                <li>
                    പ്രഥമ P. ദാമോദരൻ സ്മാരക അവാർഡ് ലഭിച്ചത് ?<br>
                    സുനിൽ P ഇളയിടം
                </li>
                <li>
                    2020 ഓസ്ട്രിയൻ ഗ്രാൻഡ്‌ പിക്സ് വിജയി ?<br>
                    വാൾട്ടേരി ബോട്ടോസ്
                </li>
                <li>
                    2020 ജൂലൈ 6 ന് അന്തരിച്ച പ്രശസ്ത ഇറ്റാലിയൻ സംഗീത സംവിധായകനും ഓസ്കാർ ജേതാവുമായ വ്യക്തി ?<br>
                    എന്നിയോ മോറികോൻ
                </li>
            </ol>
        </div>
    </div>
</section>
<nav id="paginator">
    <ul class="pagination justify-content-center">
      <li class="page-item active"><a class="page-link back-to-top" href="#!/current1">1</a></li>
      <li class="page-item"><a class="page-link back-to-top" href="#!/current2">2</a></li>
    </ul>
</nav>







